body {
  background: url("../img/66a7fc3331aaa58bdfbc8a11_6668944e139166e1e1aa3ade_Construction-Project-Phase-2-Design-Pre-construction.webp");
  background-size: cover;
  opacity: 0;
  animation: fadeInBackground 1.5s ease-in-out forwards;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeInBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  margin-top: 30px;
}

.card {
  border-radius: 12px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

h2 {
  font-weight: bold;
  color: #131313;
}

h4 {
  color: #121111;
  font-weight: bold;
}

label {
  font-weight: 500;
}

.form-control {
  border-radius: 8px;
  border: 1px solid #ced4da;
}

.form-control:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  border-color: #007bff;
}

.btn-primary {
  background: #002755;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s;
}

.btn-primary:hover {
  background: #0056b3;
}

.table {
  border-radius: 10px;
  overflow: hidden;
}

.table th {
  background: #343a40 !important;
  color: #fff;
  text-align: center;
}

.table td {
  text-align: center;
  vertical-align: middle;
}

.text-success {
  font-weight: bold;
}

.table tbody tr:hover {
  background-color: #efefef;
}
